
  .search{
      background-image: url('../../back.jpg'); 
      background-size: 27%;
      background-repeat: no-repeat;
      background-position: bottom left;
      @media only screen and (max-width:480px){
        .vh-100{
            height: auto !important;
            overflow: auto;
            margin-top: 100px;
        }
      }
      .header-title{
          margin: 20px 0px 40px 0px;
          text-align: center;
      }
        datalist{
            display: block !important;
        }
        select.form-control{
            margin-bottom: 10px;
        }
        .vehicle-container{
            padding: 5px 10px;
            .checkbox{
                margin: 15px 0px;
                h6{
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
        .time-taken{
            h2{
                margin: 20px 0px;
                font-size: 20px;
                span{
                    color: #508eea;
                }
            }
        }
     
}