
.navbar{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    background: #fff;
    h3{
        color:  #508eea;
        @media only screen and (max-width:480px){
            font-size: 20px;
        }
    }
.navbar-nav{
    margin-left:80px; 
    li{
        a{
            font-size: 14px;
            margin: 0px 8px;
            color:  #508eea;
            &.active{
                color:#0f55bd;
            }
            &:hover{
                cursor: pointer;
                @extend .active;
            }
        }
        &:last-child{
            a{
                margin-right: 0px
                        }
        }
    }
    @media only screen and (max-width:480px){
        flex-direction: row;
    }
    
}
}